In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/resnet_svm/data/features.csv')

In [ ]:
df.head()

,class,0,1,2,3,4,5,6,7,8,...,100600,100601,100602,100603,100604,100605,100606,100607,100608,100609
0,shoe,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
1,shoe,0.0,0.0,0.0,0.0,0.0,0.0,0.082948,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
2,shoe,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
3,shoe,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
4,shoe,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0

In [ ]:
df.columns

Index(['class', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '100600', '100601', '100602', '100603', '100604', '100605', '100606',
       '100607', '100608', '100609'],
      dtype='object', length=100611)

In [ ]:
labelencoder = LabelEncoder()
df['class'] = labelencoder.fit_transform(df['class'])

In [ ]:
df.head()

,class,0,1,2,3,4,5,6,7,8,...,100600,100601,100602,100603,100604,100605,100606,100607,100608,100609
0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.082948,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0
4,2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,224.0,224.0

In [ ]:
y=df['class']

In [ ]:
X=df.drop(['class'],axis=1)

In [ ]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [ ]:
svm=SVC().fit(X_train,y_train)

In [ ]:
pred=svm.predict(X_test)
print(classification_report(pred,y_test))
accuracy_score(pred,y_test)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99        84
           1       1.00      0.99      0.99        95
           2       0.97      0.99      0.98        79

    accuracy                           0.99       258
   macro avg       0.99      0.99      0.99       258
weighted avg       0.99      0.99      0.99       258

0.9883720930232558

In [ ]:
confusion_matrix(pred,y_test)

array([[83,  0,  1],
       [ 0, 94,  1],
       [ 1,  0, 78]])

In [ ]:
import pickle
filename = '/content/drive/MyDrive/resnet_svm/data/svm.sav'
pickle.dump(svm, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.9883720930232558